

header {
  position: relative;
  top: 30px;
  width: 100%;
  z-index: 999;
  transition: all 0.5s ease;
  .logo {
    width: 200px;
  }
  .navbar-collapse {
    @include flexCenter(row);
    .navbar-nav {
      .nav-item {
        margin: 0 15px;
        .nav-link {
          padding: 10px 15px;
          color: $gray;
          transition: all 0.3s ease-out;
          border-radius: 10px;
          font-family: HacenMaghrebRegular;
        }
          .nav-link:hover {
            color: $white;
            background: $blue;
            transition: all 0.2s ease-in;
          }
        
      }
    }
  }
}
// header.scrolled {
//   padding: 0 0;
//   top: 0;
//   animation: stickyhead 1s alternate;
// }

@include media("<=1200px") {
  header {
    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          margin: 0 5px;
        }
      }
    }
  }
}

@include media("<=1024px") {
  header {
    padding: 0 0;
    top: 0;
  }
}

@include media("<=992px") {
  header {
    .navbar {
      flex-direction: column;
    }
    .navbar-collapse {
      .navbar-nav {
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: center;
        .nav-item {
          margin: 3px 0px;
          .nav-link {
            padding: 5px 10px;
            border-radius: 8px;
          }
        }
      }
    }
  }
  
}
@include media("<=576px") {
  header {
    
  }
   header {
    .container {
      padding: 0;
    }
    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          .nav-link {
            padding: 5px 8px;
          }
        }
      }
    }
  }
}
